/* VARIABLES */
/* MIXINS */
/* Electric Circus -- CSS Template Document */
/* ------------- */
/* -- GENERAL --*/
/* ----------- */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #3C3C3B;
}

.f_width {
  width: 100%;
}

.f_height {
  height: 100%;
}

.pos_rel {
  position: relative;
}

.pos_abs {
  position: absolute;
}

/* ----------- */
/* -- FONTS --*/
/* --------- */
h1 {
  font-size: 3.4rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.85px;
  line-height: 1.2;
}

h2 {
  font-size: 3.2rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.85px;
  line-height: 1.2;
}

h3 {
  font-size: 2.8rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.85px;
  line-height: 1.2;
}

h4 {
  font-size: 2.6rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.85px;
  line-height: 1.2;
}

p {
  line-height: 1.8;
  letter-spacing: -0.35px;
  font-size: 1.4rem;
}

/* -------------- */
/* -- COLOURS -- */
/* ------------ */
.white {
  color: #fff;
}

.white_bg {
  background-color: #fff;
}

.black {
  color: #000;
}

.black_bg {
  background-color: #000;
}

.primary {
  color: #28235B;
}

.secondary {
  color: #FA8E2A;
}

.tertiary {
  color: #EDEFF6;
}

/* -------------- */
/* -- LINKS -- */
/* ------------ */
/* -------------- */
/* -- BUTTONS -- */
/* ------------ */
.btn {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: inline-block;
  font-size: 1.4rem;
}

.btn.standard {
  padding: 10px 20px;
  color: #fff;
}

.btn.standard.primary {
  background-color: #28235B;
}

.btn.standard.primary:hover {
  background-color: #FA8E2A;
}

.btn.standard.secondary {
  background-color: #FA8E2A;
}

.btn.standard.secondary:hover {
  background-color: #28235B;
}

.btn.anim-arrow {
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  inset: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.btn.anim-arrow:after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '\f061';
  display: inline-block;
  position: relative;
  left: 0;
  margin-left: 15px;
  font-size: 1rem;
  text-align: right;
  top: -2px;
}

.btn.anim-arrow:hover:after {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn.anim-arrow.white {
  color: #fff;
}

.btn.anim-arrow.white:after {
  color: #fff;
}

.btn.anim-arrow.white:hover {
  color: #FA8E2A;
}

.btn.anim-arrow.white:hover:after {
  color: #FA8E2A;
}

.btn.anim-arrow.primary {
  color: #28235B;
}

.btn.anim-arrow.primary:after {
  color: #28235B;
}

.btn.anim-arrow.primary:hover {
  color: #FA8E2A;
}

.btn.anim-arrow.primary:hover:after {
  color: #FA8E2A;
}

.btn.anim-arrow.gradient {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn.anim-arrow.gradient:before {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background: linear-gradient(246deg, #28235B80 0%, #28235B 100%);
  z-index: -1;
}

.btn.anim-arrow.gradient:hover:before {
  opacity: 1;
}

.btn.down-arrow {
  padding: 5px 10px;
}

.btn.down-arrow:after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  content: '\f063';
  display: inline-block;
  position: relative;
  bottom: 0;
}

.btn.down-arrow:hover:after {
  bottom: -5px;
}

.btn.down-arrow.white {
  color: #fff;
  border: 1px solid #fff;
}

.btn.down-arrow.white:after {
  color: #fff;
}

.btn.down-arrow.white:hover {
  color: #FA8E2A;
  border-color: #FA8E2A;
}

.btn.down-arrow.white:hover:after {
  color: #FA8E2A;
}

/* -------------- */
/* -- MARGINS -- */
/* ------------ */
.margin_0 {
  margin: 0;
}

.margin_1 {
  margin: 1rem;
}

.margin_2 {
  margin: 2rem;
}

.margin_3 {
  margin: 3rem;
}

.margin_4 {
  margin: 4rem;
}

.t_margin_0 {
  margin-top: 0;
}

.t_margin_05 {
  margin-top: 0.5rem;
}

.t_margin_1 {
  margin-top: 1rem;
}

.t_margin_2 {
  margin-top: 2rem;
}

.t_margin_3 {
  margin-top: 3rem;
}

.t_margin_4 {
  margin-top: 4rem;
}

.t_margin_5 {
  margin-top: 5rem;
}

.t_margin_6 {
  margin-top: 6rem;
}

.b_margin_05 {
  margin-bottom: 0.5rem;
}

.b_margin_1 {
  margin-bottom: 1rem;
}

.b_margin_2 {
  margin-bottom: 2rem;
}

.b_margin_3 {
  margin-bottom: 3rem;
}

.b_margin_4 {
  margin-bottom: 4rem;
}

.b_margin_5 {
  margin-bottom: 5rem;
}

.b_margin_6 {
  margin-bottom: 6rem;
}

.r_margin_0 {
  margin-right: 0;
}

.r_margin_05 {
  margin-right: 0.5rem;
}

.r_margin_1 {
  margin-right: 1rem;
}

.r_margin_2 {
  margin-right: 2rem;
}

.r_margin_3 {
  margin-right: 3rem;
}

.r_margin_4 {
  margin-right: 4rem;
}

.l_margin_0 {
  margin-left: 0;
}

.l_margin_05 {
  margin-left: 0.5rem;
}

.l_margin_1 {
  margin-left: 1rem;
}

.l_margin_2 {
  margin-left: 2rem;
}

.l_margin_3 {
  margin-left: 3rem;
}

.l_margin_4 {
  margin-left: 4rem;
}

/* -------------- */
/* -- PADDINGS -- */
/* ------------ */
.padding_0 {
  padding: 0 !important;
}

.padding_05 {
  padding: 0.5rem;
}

.padding_1 {
  padding: 1rem;
}

.padding_2 {
  padding: 2rem;
}

.padding_3 {
  padding: 3rem;
}

.padding_4 {
  padding: 4rem;
}

.t_padding_0 {
  padding-top: 0;
}

.t_padding_05 {
  padding-top: 0.5rem;
}

.t_padding_1 {
  padding-top: 1rem;
}

.t_padding_2 {
  padding-top: 2rem;
}

.t_padding_3 {
  padding-top: 3rem;
}

.t_padding_4 {
  padding-top: 4rem;
}

.t_padding_5 {
  padding-top: 5rem;
}

.t_padding_6 {
  padding-top: 6rem;
}

.b_padding_0 {
  padding-bottom: 0;
}

.b_padding_05 {
  padding-bottom: 0.5rem;
}

.b_padding_1 {
  padding-bottom: 1rem;
}

.b_padding_2 {
  padding-bottom: 2rem;
}

.b_padding_3 {
  padding-bottom: 3rem;
}

.b_padding_4 {
  padding-bottom: 4rem;
}

.b_padding_5 {
  padding-bottom: 5rem;
}

.b_padding_6 {
  padding-bottom: 6rem;
}

.r_padding_0 {
  padding-right: 0;
}

.r_padding_05 {
  padding-right: 0.5rem;
}

.r_padding_1 {
  padding-right: 1rem;
}

.r_padding_2 {
  padding-right: 2rem;
}

.r_padding_3 {
  padding-right: 3rem;
}

.r_padding_4 {
  padding-right: 4rem;
}

.r_padding_5 {
  padding-right: 5rem;
}

.r_padding_6 {
  padding-right: 6rem;
}

.l_padding_0 {
  padding-left: 0;
}

.l_padding_05 {
  padding-left: 0.5rem;
}

.l_padding_1 {
  padding-left: 1rem;
}

.l_padding_2 {
  padding-left: 2rem;
}

.l_padding_3 {
  padding-left: 3rem;
}

.l_padding_4 {
  padding-left: 4rem;
}

.l_padding_5 {
  padding-left: 5rem;
}

.l_padding_6 {
  padding-left: 6rem;
}

/* ------------------------ */
/* -- BORDERS/UNDERLINES --*/
/* ---------------------- */
/* ------------------ */
/* -- FORM STYLES --*/
/* --------------- */
/* ------------------- */
/* -- SWIPER STYLES --*/
/* ----------------- */
/* OVERRIDES */
.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

.grid-container {
  max-width: 120rem;
}

.v-gutter {
  padding-top: 85px;
  padding-bottom: 85px;
}

.section {
  min-height: 400px;
  max-width: 100%;
}

.section.double {
  height: 800px;
}

figure {
  position: relative;
}

figure img {
  width: 100%;
  height: auto;
}

.bg-primary {
  background-color: #28235B;
}

.bg-secondary {
  background-color: #FA8E2A;
}

.bg-tertiary {
  background-color: #EDEFF6;
}

.bg-white {
  background-color: #28235B;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.swiper-container .swiper-slide figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  overflow: hidden;
}

.swiper-container .swiper-slide figure img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.swiper-container .swiper-slide article {
  padding: 10px 15px 35px;
  color: #28235B;
  background-color: #EDEFF6;
}

.swiper-container .swiper-slide .btn {
  font-weight: 900;
}

.swiper-container .nav-cluster {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.swiper-container .nav-cluster [class^="swiper-button"] {
  position: relative;
  height: 100%;
  left: unset;
  right: unset;
  top: unset;
  padding: 15px 20px;
  background-color: #28235B;
  margin: 0 1px;
}

.swiper-container .nav-cluster [class^="swiper-button"]:after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: 1rem;
}

.swiper-container .nav-cluster .swiper-button-next:after {
  content: '\f054';
}

.swiper-container .nav-cluster .swiper-button-prev:after {
  content: '\f053';
}

.swiper-container .nav-cluster .swiper-pagination {
  position: relative;
  top: -4px;
  margin-right: 15px;
}

.swiper-container .nav-cluster .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  height: 2px;
  width: 10px;
  margin-right: 1px;
  background-color: #28235B;
}

ul {
  margin: 0;
  padding: 0;
}

footer {
  height: 145px;
}

/* ------------------------------*/
/* ------- MEDIA QUERIES --------*/
/* ------------------------------*/
/* MOBILE */
@media only screen and (max-width: 640px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .v-gutter {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-container figure {
    margin-top: 10px;
  }
  .l_padding_6 {
    padding-left: 2rem;
  }
  .r_padding_6 {
    padding-right: 2rem;
  }
  .swiper-container .swiper-wrapper .swiper-slide figure {
    height: auto;
  }
}
/*# sourceMappingURL=app.css.map */